extends layout

block content
    div(class='container starter-template')        
        form(role='form' class='form-signin' action="/users/add" method="post")
            h2(class="form-signin-heading") Registrar usuario
            div(class='form-group')
                input(class='form-control' type='text' name="username", placeholder='Usuario')
            div(class='form-group')
                input(class='form-control' type='password' name="password", placeholder='Contraseña')
            div(class='form-group')
                input(class='form-control' type='password' name="retrypassword", placeholder='Repetir Contraseña')
            div(class='form-group-inline')
                input(class='form-control-inline' type='checkbox' name="admin")   
                |   &nbsp 
                label(class='form-control-inline')   Administrador 
            div(class='row no-gutters')
                div(class='col')
                    button(class='btn btn-default btn-block' type='submit') Enviar
                div(class='col')
                div(class='col')
                    button(class='btn btn-primary btn-block' type="button") Cancelar
            br
            br
            div(class=`${message.length?'alert alert-danger':''}` role="alert") !{message}

            