doctype html
html(lang='es')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Rigoberto L. Salgado Reyes')
    link(rel='icon', href='favicon.ico')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")      
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(href="http://code.gijgo.com/1.6.1/css/gijgo.css" rel="stylesheet" type="text/css")
    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    nav(class='navbar navbar-expand-md navbar-dark bg-dark fixed-top')
      a(class='navbar-brand', href='http://digevo.com/')
        img(src='/images/digevo.png' class='' alt='Digevo image')
      button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
            
    block bots

    footer(class='footer')
      div(class='container')
        span(class='text-muted')=  '© DIGEVO ' + new Date().getFullYear()
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="http://code.gijgo.com/1.6.1/js/gijgo.js" type="text/javascript")    
    script(src="/javascripts/main.js")
