html {
  height: 100%;
}

body {
  padding-top: 5rem;
  height: 100%;
}

.starter-template {
  padding: 3rem 1.5rem; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 80%;
} 

.center_div{
  margin: 0 auto;
  text-align: left;
}

.left_div{
  position:absolute;
  left: 3rem;
  top:8rem;
}

.width_30 {
  width: 30%;
}

.width_90 {
  width: 90%;
}

#botlist { 
  list-style-type: none;
}

.height-limiter {
  height: inherit;
  overflow-y:auto;
}

.div-limiter {
  width: 100%;
  height: 65%;
  overflow-y:auto;
}

.div-limiter-left {
  width: 100%;
  height: 30%;
}

.table {
  table-layout: fixed;
  height: 100%;
  width: 100%;  
}

td {
  overflow-wrap: break-word;
}

th {
  text-align: center;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.row-first {
  height:95%;
  /* overflow: hidden; */
}

.col {
  height: 100%;
}

ul {
  height:80%;
  overflow-y:auto;
}

.bot-form {
  height: 100%;
}

/* -------------------- */
