html {
  height: 100%;
}

body {
  padding-top: 5rem;
  height: 100%;
}

.starter-template {
  padding: 2rem 1.5rem;  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 80%;
} 

.center_div{
  margin: 0 auto;
  text-align: left;
}

.left_div{
  position:absolute;
  left: 3rem;
  top:8rem;
}

.width_30 {
  width: 30%;
}

.width_90 {
  width: 90%;
}

#botlist { 
  list-style-type: none;
}

.height-limiter {
  height: inherit;
  overflow-y:auto;
}

.div-limiter {
  width: 100%;
  height: 65%;
  overflow-y:auto;
}

.div-limiter-left {
  width: 100%;
  height: 30%;
}

.table {
  table-layout: fixed;
  height: 100%;
  width: 100%;  
}

td {
  overflow-wrap: break-word;
}

th {
  text-align: center;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.height-limiter-95 {
  height:95%;
}

.col {
  height: 100%;
}

ul {
  height:50%;
  overflow-y:auto;
}

.bot-form {
  height: 80%;
}

.left {
  float: left;
}

.right {
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pager .prev, .pager .next, .pagecount {
  cursor: pointer;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
